@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CarbonaTest-Regular';
  src: url('./fonts/CarbonaTest-Regular.otf');
}

@font-face {
  font-family: 'CarbonaTest-SemiBold';
  src: url('./fonts/CarbonaTest-SemiBold.otf');
}

@font-face {
  font-family: 'CarbonaTest-Bold';
  src: url('./fonts/CarbonaTest-Bold.otf');
}

@font-face {
  font-family: 'CarbonaTest-ExtraBold';
  src: url('./fonts/CarbonaTest-ExtraBold.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
